.modalBasket-main {
    
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    border: 1px black solid;
    height: 75%;
    width: 80%;
    padding: 50px;
    z-index: 1000;
    /* border-radius: 50px */
    /* background-color: black; */
}

/* 
.modalBasket-order {
} */
.modalBasket-productData {
    display: flex;
    justify-content: space-between;
}
.modalBasket-oderChildren {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.modalBasket-excludedIngredient {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;

}
.modalBasket-excludedIngredient-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.modalBasket-excludedIngredient-content> div {
    margin: 0 10px 0 10px;
    border: 2px solid red;
    padding: 10px;
}

.modalBasket-finalPrice {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.order-modalOrder{
    right: 0;
    width: 30%;
    height: 50px;
}


.clode-modalOrder {
    top: 20px;
    position: absolute;
}

.deleteProduct-ModalOrder {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modalBasket-productData {}